<?xml version="1.0" encoding="utf-8"?>
<param xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" metadataversion="3.0" createdBy="王运圳" createdOn="2025-10-09T11:10:20.133768+08:00" modifiedBy="王运圳" modifiedOn="2025-10-09T11:10:20.1337712+08:00" metadataStatus="Customize" paramId="08de06e1-610a-41c1-8144-3326f86cd7e7" paramCode="x_asset_CustomBizParams" paramName="自定义业务参数" scope="group" paramType="3" customizedTypeId="00000000-0000-0000-0000-000000000000" customizedUrl="/std/x_80011901/08dd8df6-69cd-43bb-87b0-23eecc962c39" minValue="0" maxValue="999999999" showThousandths="false" valueType="3" isSystem="false" isInterval="false" intervalUnit="" hierarchy="2" orderNum="4640" disabled="false" typeGuid="08de06db-8556-4177-8a57-2bdc7e0a81e1" application="8001" functionGUID="08dd8c49-dab3-4283-8056-75e66abccbe1" optionSource="customizeUrl" description="" storageMode="1" disableRestore="false" disableCopy="false" isHidden="false">
    <DecimalPlace>0</DecimalPlace>
    <Unit />
    <UnitTextSystemParam />
    <rightsRule />
    <rule>
        <configs />
        <groups />
    </rule>
</param>