<?xml version="1.0" encoding="utf-8"?>
<param xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlAttributeId="" metadataversion="3.0" createdBy="王运圳" createdOn="2025-10-09T11:03:07.3932281+08:00" modifiedBy="王运圳" modifiedOn="2025-10-09T11:07:26.8985093+08:00" metadataStatus="Customize" paramId="08de06e0-5f06-4d41-83b2-34b350761676" paramCode="x_asset_OptionBizParamListText" paramName="选项类业务参数-列表显示-标签" scope="group" paramType="4" customizedTypeId="00000000-0000-0000-0000-000000000000" customizedUrl="" customizeLoadDataApi="" minValue="0" maxValue="999999999" showThousandths="false" valueType="8" isSystem="false" isInterval="false" intervalUnit="" hierarchy="2" orderNum="4630" disabled="false" customizedConfigUrl="" typeGuid="08de06db-8556-4177-8a57-2bdc7e0a81e1" application="8001" functionGUID="08dd8c49-dab3-4283-8056-75e66abccbe1" optionSource="templates" description="" storageMode="0" disableRestore="false" disableCopy="false" isHidden="false">
    <DecimalPlace>0</DecimalPlace>
    <Unit />
    <UnitTextSystemParam />
    <templates>
        <template paramValueTemplateId="08de06e0-f9f1-477b-8793-a82fade335bb" paramId="08de06e0-5f06-4d41-83b2-34b350761676" value="1" text="灰色" code="2" color="normal" parentCode="-1" isSystem="false" isDefault="false" disabled="false" order="0" />
        <template paramValueTemplateId="08de06e0-f9f1-47ac-851f-2cfaa5fafde5" paramId="08de06e0-5f06-4d41-83b2-34b350761676" value="2" text="蓝色" code="3" color="primary" parentCode="-1" isSystem="false" isDefault="false" disabled="false" order="1" />
        <template paramValueTemplateId="08de06e0-f9f1-47d0-8d60-dd0901f3b5da" paramId="08de06e0-5f06-4d41-83b2-34b350761676" value="3" text="绿色" code="4" color="success" parentCode="-1" isSystem="false" isDefault="false" disabled="false" order="2" />
        <template paramValueTemplateId="08de06e0-f9f1-47ec-8666-91e56294682a" paramId="08de06e0-5f06-4d41-83b2-34b350761676" value="4" text="橙色" code="5" color="warning" parentCode="-1" isSystem="false" isDefault="false" disabled="false" order="3" />
        <template paramValueTemplateId="08de06e0-f9f1-4815-8b45-b04c3d9124f3" paramId="08de06e0-5f06-4d41-83b2-34b350761676" value="5" text="红色" code="6" color="danger" parentCode="-1" isSystem="false" isDefault="false" disabled="false" order="4" />
        <template paramValueTemplateId="08de06e0-f9f1-484a-8a72-0e57d827b9e4" paramId="08de06e0-5f06-4d41-83b2-34b350761676" value="6" text="紫色" code="7" color="dignify" parentCode="-1" isSystem="false" isDefault="false" disabled="false" order="5" />
    </templates>
    <rightsRule />
    <rule>
        <configs />
        <groups />
    </rule>
</param>