<?xml version="1.0" encoding="utf-8"?>
<param xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlAttributeId="" metadataversion="3.0" createdBy="王运圳" createdOn="2025-10-09T10:29:00.2247727+08:00" modifiedBy="王运圳" modifiedOn="2025-10-09T10:59:32.8842583+08:00" metadataStatus="Customize" paramId="08de06db-9ada-41e9-8337-8e8557b769e1" paramCode="x_asset_ConfigBizParam" paramName="配置类业务参数-单值选择-审批" scope="group" paramType="2" customizedTypeId="00000000-0000-0000-0000-000000000000" customizedUrl="" customizeLoadDataApi="" minValue="0" maxValue="999999999" showThousandths="true" valueType="7" isSystem="false" isInterval="false" intervalUnit="" hierarchy="2" orderNum="4620" disabled="false" customizedConfigUrl="" typeGuid="08de06db-8556-4177-8a57-2bdc7e0a81e1" application="8001" functionGUID="08dd8c49-dab3-4283-8056-75e66abccbe1" optionSource="templates" description="参数说明" storageMode="1" disableRestore="false" disableCopy="false" isHidden="false">
    <DecimalPlace>0</DecimalPlace>
    <Unit>单位</Unit>
    <UnitTextSystemParam />
    <templates>
        <template paramValueTemplateId="08de06df-df68-4ab7-827a-b47d8160e497" paramId="08de06db-9ada-41e9-8337-8e8557b769e1" value="1" text="不启用" isSystem="false" isDefault="false" disabled="false" order="1" />
        <template paramValueTemplateId="08de06df-df68-4ad4-89d7-04caacfe79eb" paramId="08de06db-9ada-41e9-8337-8e8557b769e1" value="2" text="启用审批" isSystem="false" isDefault="true" disabled="false" order="2" />
        <template paramValueTemplateId="08de06df-df68-4af0-847c-ea8c9553319e" paramId="08de06db-9ada-41e9-8337-8e8557b769e1" value="3" text="启用工作流审批" isSystem="false" isDefault="false" disabled="false" order="3" />
    </templates>
    <rightsRule />
    <rule>
        <configs />
        <groups />
    </rule>
</param>